<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBL - MISJA</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <% detections.forEach(function(detection) { %>
        <div class="detection">
            id: <%= detection.id %>
            date: <%= new Date(detection.timestamp*1000).toString() %>
        </div>
    <% }); %>

    Mission recording:
    <video width="640" height="360" controls>
        <source src="/mission-stream/<%= mission_id %>" type="video/mp4">
        Your browser does not support the video tag.
      </video>
</body>

</html>