<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBL - RAPORT</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('./partials/header.ejs'); %>

    <div class="raport_background">
        <div id="main_container">
            <h3><span class="first_two_words">Real-Time</span> Drone Data:</h3>

            <% missions.forEach(function(mission) { %>
                <div class="mission">
                    id: <%= mission.id %>
                    date: <%= new Date(mission.timestamp*1000).toString() %>
                    <a href="missions/<%= mission.id %>">See more</a>
                </div>
            <% }); %>
        </div>
    </div>
</body>

</html>